:root {
  --main-font: "Roboto", sans-serif;
  --logo-font: "Raleway", sans-serif;
  --logo-color: #2196f3;
  --title-color: #212121;
  --font-description: #757575;
  --body-background-color: #ffffff;
  --footer-background: #2f303a;
  --bottom-bground: #f5f4fa;
}

.body {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  background: var(--body-background-color);
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
/* Верхняя линия */

.webstudio {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.web {
  color: var(--logo-color);
}
.studio {
  color: var(--body-background-color);
}
.navigation-link :current {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;

  color: var(--title-color);
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--logo-color);
}
.tel-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;

  color: var(--font-description);
}
.tel-link:hover,
.tel-link:focus {
  color: var(--logo-color);
}
.mailto-link {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 14;
  letter-spacing: 0.02em;

  color: var(--font-description);
}
.mailto-link:hover,
.mailto-link:focus {
  color: var(--logo-color);
}
/* Шапка */
.hero-tittle {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  text-transform: uppercase;
  background: var(--logo-color);

  color: var(--body-background-color);
}

.modal-btm {
  font-family: inherit;
  color: var(--primary-white-color);
  background: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--body-background-color);
}
.modal-btm:hover,
.modal-btm:focus {
  background: var(--logo-color);
  color: var(--body-background-color);
}

/* Особенности */
.tittle-desription {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-color);
}
.description-item {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--font-description);
}

/* чем мы занимаемся */
.about-us {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}

/* Наша команда */
.team-tittle {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
}
.team-name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  color: var(--title-color);
}
.team-item {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  color: var(--font-description);
}

/* Подвал */
.footer {
  background: var(--footer-background);
}

.address-map {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: var(--body-background-color);
}

/* портфолио*/

.filter-btm {
  font-family: inherit;
  background-color: var(--bottom-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
.filter-btm:hover,
.filter-btm:focus {
  color: var(--bottom-color);
  background: var(--logo-color);
}
.project-tittle {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: var(--title-color);
}
.project-description {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */

  letter-spacing: 0.03em;

  color: var(--font-description);
}
